NET     GPIO_SW_C       LOC="AJ6";
NET     GPIO_SW_C       IOSTANDARD="LVCMOS33";

NET     USER_CLK        LOC="AH15";
NET     USER_CLK        IOSTANDARD="LVCMOS33";

NET     FPGA_SERIAL_RX  LOC="AG15";
NET     FPGA_SERIAL_RX  IOSTANDARD="LVCMOS33";

NET     FPGA_SERIAL_TX  LOC="AG20";
NET     FPGA_SERIAL_TX  IOSTANDARD="LVCMOS33";

NET "USER_CLK" TNM_NET = USER_CLK;
TIMESPEC TS_USER_CLK = PERIOD "USER_CLK" 10.0 ns HIGH 50%;
