NET GPIO_LED<0> LOC="H18";
NET GPIO_LED<0> IOSTANDARD="LVCMOS25";
NET GPIO_LED<1> LOC="L18";
NET GPIO_LED<1> IOSTANDARD="LVCMOS25";
NET GPIO_LED<2> LOC="G15";
NET GPIO_LED<2> IOSTANDARD="LVCMOS25";
NET GPIO_LED<3> LOC="AD26";
NET GPIO_LED<3> IOSTANDARD="LVCMOS18";
NET GPIO_LED<4> LOC="G16";
NET GPIO_LED<4> IOSTANDARD="LVCMOS25";
NET GPIO_LED<5> LOC="AD25";
NET GPIO_LED<5> IOSTANDARD="LVCMOS18";
NET GPIO_LED<6> LOC="AD24";
NET GPIO_LED<6> IOSTANDARD="LVCMOS18";
NET GPIO_LED<7> LOC="AE24";
NET GPIO_LED<7> IOSTANDARD="LVCMOS18";

NET  FPGA_ROTARY_INCA     LOC="AH30";  # Bank 17, Vcco=1.8V, DCI using 49.9 ohm resistors
NET  FPGA_ROTARY_INCA     IOSTANDARD="LVCMOS18";
NET  FPGA_ROTARY_INCB     LOC="AG30";  # Bank 17, Vcco=1.8V, DCI using 49.9 ohm resistors
NET  FPGA_ROTARY_INCB     IOSTANDARD="LVCMOS18";
NET  FPGA_ROTARY_PUSH     LOC="AH29";  # Bank 17, Vcco=1.8V, DCI using 49.9 ohm resistors
NET  FPGA_ROTARY_PUSH     IOSTANDARD="LVCMOS18";

NET CLK_33MHZ_FPGA LOC="AH17";
NET CLK_33MHZ_FPGA IOSTANDARD="LVCMOS25";

NET "CLK_33MHZ_FPGA" TNM_NET = CLK_33MHZ_FPGA;
TIMESPEC TS_USER_CLK = PERIOD "CLK_33MHZ_FPGA" 30.3 ns HIGH 50%;
